/*  
  Designs are for Galaxy S5 (360 * 640) 
  Other designs are based on Chrome sugestions
*/

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.contentContainer {
  overflow: auto;
  height: 80vh;
  width: 60%;
}

.example::-webkit-scrollbar {
  display: none;
}

.contentComponent {
  border-style: solid;
  border-radius: 16px;
  border-color: black;

  margin: 16px;
  width: 80%;

  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.nameComponent {
  padding-left: 5%;
  margin: 16px;
  width: 80%;

  word-break: break-word;
}

.counterComponent {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;

  border-style: solid;
  border-radius: 50%;

  width: 2.5rem;
  height: 2rem;

  margin: 5px;
}

.menuComponent {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  position: fixed;
  bottom: 1%;
  right: 5%;

  height: 300px;
  width: 30%;
}

.menuBar {
  position: absolute;
  bottom: 40%;
  right: 20%;

  width: 30%;
}

.menuBarFrame {
  border-style: solid;
  border-color: black;
  border-radius: 2rem;
  margin: 5px;
}

.menuBarComponent {
  font-size: 1.25rem;

  display: absolute;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  padding-left: 15px;
  width: 100%;
}

.menuButton {
  position: absolute;
  bottom: 10%;
  right: 23%;

  margin-top: 10px;

  width: 3rem;
}

@media screen and (min-width: 375px) {
  .menuBarComponent {
    padding-left: 20px;
  }

  .menuButton {
    right: 25%;
  }
}

@media screen and (min-width: 425px) {
  .menuBarComponent {
    padding-left: 30px;
  }

  .menuButton {
    right: 30%;
  }
}

@media screen and (min-width: 768px) {
  .menuComponent {
    height: 290px;
  }

  .menuBarComponent {
    font-size: 1.8rem;
    padding-left: 10px;
    margin: 5px;
  }

  .menuButton {
    right: 40%;
  }
}

@media screen and (min-width: 1440px) {
  .menuButton {
    right: 45%;
  }
}

@media screen and (min-width: 2560px) {
  .menuButton {
    right: 47%;
  }
}
